/*
	Theme Name: HTML5 Blank
	Theme URI: http://html5blank.com
	Description: HTML5 Blank WordPress Theme
	Version: 1.4.3
	Author: Todd Motto (@toddmotto)
	Author URI: http://toddmotto.com
	Tags: Blank, HTML5, CSS3

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/

/*------------------------------------*\
    MAIN
\*------------------------------------*/

/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
/* html element 62.5% font-size for REM use */
html {
	font-size:62.5%;
}
body {
	font:300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color:#444;
}
/* clear */
.clear:before,
.clear:after {
    content:' ';
    display:table;
}

.clear:after {
    clear:both;
}
.clear {
    *zoom:1;
}
img {
	max-width:100%;
	vertical-align:bottom;
}
a {
	color:#444;
	text-decoration:none;
}
a:hover {
	color:#444;
}
a:focus {
	outline:0;
}
a:hover,
a:active {
	outline:0;
}
input:focus {
	outline:0;
	border:1px solid #04A4CC;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* wrapper */
.wrapper {
	max-width:1280px;
	width:95%;
	margin:0 auto;
	position:relative;
}
/* header */
.header {

}
/* logo */
.logo {

}
.logo-img {

}
/* nav */
.nav {

}
/* sidebar */
.sidebar {

}
/* footer */
.footer {

}

/*------------------------------------*\
    PAGES
\*------------------------------------*/



/*------------------------------------*\
    IMAGES
\*------------------------------------*/



/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/

@font-face {
	font-family:'Font-Name';
	src:url('fonts/font-name.eot');
	src:url('fonts/font-name.eot?#iefix') format('embedded-opentype'),
		url('fonts/font-name.woff') format('woff'),
		url('fonts/font-name.ttf') format('truetype'),
		url('fonts/font-name.svg#font-name') format('svg');
    font-weight:normal;
    font-style:normal;
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (min-width:320px) {

}
@media only screen and (min-width:480px) {

}
@media only screen and (min-width:768px) {

}
@media only screen and (min-width:1024px) {

}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	   only screen and (min-resolution:144dpi) {

}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-webkit-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-moz-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
	margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
a img.alignnone {
	margin:5px 20px 20px 0;
}
a img.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.wp-caption {
	background:#FFF;
	border:1px solid #F0F0F0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center;
}
.wp-caption.alignnone {
	margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin:5px 20px 20px 0;
}
.wp-caption.alignright {
	margin:5px 0 20px 20px;
}
.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}
.sticky {

}
.bypostauthor {

}

/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
	* {
		background:transparent !important;
		color:#000 !important;
		box-shadow:none !important;
		text-shadow:none !important;
	}
	a,
	a:visited {
		text-decoration:underline;
	}
	a[href]:after {
		content:" (" attr(href) ")";
	}
	abbr[title]:after {
		content:" (" attr(title) ")";
	}
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content:"";
	}
	pre,blockquote {
		border:1px solid #999;
		page-break-inside:avoid;
	}
	thead {
		display:table-header-group;
	}
	tr,img {
		page-break-inside:avoid;
	}
	img {
		max-width:100% !important;
	}
	@page {
		margin:0.5cm;
	}
	p,
	h2,
	h3 {
		orphans:3;
		widows:3;
	}
	h2,
	h3 {
		page-break-after:avoid;
	}
}

#mailchimp-form
{
    background: rgba(230,189,97,0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;  
    height: 230px;
}
#mailchimp-form #mailchimp-content
{
    width: 70%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}
#mailchimp-form #mailchimp-content h2
{
    font-family: 'Playfair Display', sans-serif;
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;
    color: #3f1f17;
    text-align: center;
    margin: 40px 0 20px 0;
}
#mailchimp-form #mailchimp-content #form-element .form-element-email
{
    float: left;
    width: 76%;
}
#mailchimp-form #mailchimp-content #form-element .form-element-email input
{
    width: 100%;
    height: 37px;
    font-family: "Ubuntu",sans-serif;
    font-size: 13px;
    color: #3e3e3d;
    padding-left: 15px;
}
#mailchimp-form #mailchimp-content #form-element .form-element-submit
{
    float: right;
    width: 22%;
}
#mailchimp-form #mailchimp-content #form-element .form-element-submit input
{
    width: 100%;
    height: 36px;
    font-family: "Ubuntu",sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    border: none;
    font-size: 14px;
    background-color: #3f1f17;
    color: #fdd53f;
}
#mailchimp-form .mc4wp-response p
{
    font-family: "Ubuntu",sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #3f1f17;
    padding-top: 20px;
}
@media only screen and (min-width: 581px) and (max-width: 800px)
{
    header {
        position: relative;
    }
    #mailchimp-form
    {
        position: relative;
        margin-top: 80px;
        padding-top: 1px;
        padding-bottom: 10px;
    }
}
@media only screen and (min-width: 300px) and (max-width: 580px)
{
    header {
        position: relative;
    }
    #mailchimp-form
    {
        position: relative;
        margin-top: 85px;
        height: 290px;
        padding-top: 1px;
        padding-bottom: 10px;
    }
    #mailchimp-form #mailchimp-content #form-element .form-element-email
    {
        margin-bottom: 10px;
    }
    #mailchimp-form #mailchimp-content #form-element .form-element-email,
    #mailchimp-form #mailchimp-content #form-element .form-element-submit
    {
        float: none;
        width: 100%;
    }
}