/***********************************************************************
  jQuery Coda-Slider v3.0 - kevinbatdorf.github.com/codaslider
  Copyright (c) 2012 Kevin Batdorf
  This plugin available for use in all personal or commercial projects under both MIT and GPL licenses.
************************************************************************/
.coda-slider-wrapper {
  padding: 0; 
}
  
  .coda-slider-wrapper .coda-slider {
    width: 580px; 
  }
    
    .coda-slider-wrapper .coda-slider .panel {
      width: 580px; 
    }
      
      .coda-slider-wrapper .coda-slider .panel .panel-wrapper {
        padding: 0px; 
      }
  
  .coda-slider-wrapper .coda-nav {
  }
    
    .coda-slider-wrapper .coda-nav .current {
      font-weight:bold;
    }
    
    .coda-slider-wrapper .coda-nav a {
      color: #fff;
      margin-right: 1px;
      padding: 3px 6px; 
    }
    
    .coda-slider-wrapper .coda-nav a:hover {
      color: #fff;
      text-shadow: none; 
    }
	.coda-slider-wrapper .coda-nav a::after {
	  content: "|";
	  margin-left: 10px;
	}
	.coda-slider-wrapper .coda-nav li:last-child a::after {
	  content: "";
	  margin-left: 0px;
	}
  
  .coda-slider-wrapper .coda-nav-left, .coda-slider-wrapper .coda-nav-right {
  }
    
    .coda-slider-wrapper .coda-nav-left a, .coda-slider-wrapper .coda-nav-right a {
      color: #fff;
      padding: 5px;
      width: 93px;
  	  height: 93px;
  font-size:0.001em;
  text-indent:-9999px;
    }
  
  .coda-slider-wrapper .coda-nav-left-arrow {
    width: 25px;
    height: 25px;
    background: url(../img/arrow.png) no-repeat top left; 
    margin-top:50px;
  }

.coda-slider-wrapper .coda-nav-left-arrow a {
    width: 0;
    height: 0;
    border:none;
  }

  .coda-slider-wrapper .coda-nav-left-arrow:hover {
    background: url(../img/arrow.png) no-repeat bottom left; 
  }
  
  .coda-slider-wrapper .coda-nav-right-arrow {
    width: 25px;
    height: 25px;
    background: url(../img/arrow.png) no-repeat top right; 
    margin-top:50px;
  }
.coda-slider-wrapper .coda-nav-right-arrow a {
    width: 0;
    height: 0;
    background: none; 
    margin-top:0;
    border:none;
  }

  .coda-slider-wrapper .coda-nav-right-arrow:hover {
    background: url(../img/arrow.png) no-repeat bottom right; 
  }

  .coda-slider-wrapper .coda-nav-left-arrow:active, .coda-slider-wrapper .coda-nav-right-arrow:active {
    margin-top: 55px; 
  }
  
  .coda-slider-wrapper .loading {
    height: 100%;
    padding: 20px;
    text-align: center; 
  }

.arrows .coda-slider {
  margin: 0 10px; 
}

.coda-slider-wrapper {
  clear: both;
  overflow: auto; 
}
  
  .coda-slider-wrapper .coda-slider {
    float: left;
    overflow: hidden;
    position: relative; 
  }
    
    .coda-slider-wrapper .coda-slider .panel-container {
      position: relative; 
    }
      
      .coda-slider-wrapper .coda-slider .panel-container .panel {
        display: block;
        float: left; 
      }
  
  .coda-slider-wrapper .coda-nav {
    background: #fdd53f none repeat scroll 0 0;
      height:30px;
      margin:0 auto 30px;
      max-width: 360px;
  }
    
    .coda-slider-wrapper .coda-nav ul {
      padding:0;
      clear: both;
      display: block;
      margin: auto;
      overflow: hidden;
  margin: 0 auto 20px;
  width: 360px !important;
    }
      
      .coda-slider-wrapper .coda-nav ul li {
        display: inline; 
      }
        
        .coda-slider-wrapper .coda-nav ul li a {
          display: block;
          float: left;
          text-decoration: none; 
        }
  
  .coda-slider-wrapper .coda-nav-left-arrow, .coda-slider-wrapper .coda-nav-right-arrow {
    cursor: pointer;
    float: left;
  }
    
    .coda-slider-wrapper .coda-nav-left-arrow a, .coda-slider-wrapper .coda-nav-right-arrow a {
      display: block; 
    }
  
  .coda-slider-wrapper .coda-nav-left, .coda-slider-wrapper .coda-nav-right {
    float: left; 
  }
    
    .coda-slider-wrapper .coda-nav-left a, .coda-slider-wrapper .coda-nav-right a {
      display: block;
      text-align: center;
      text-decoration: none; 
    }
  
  .coda-slider-wrapper .coda-nav-left, .coda-slider-wrapper .coda-nav-left-arrow {
    clear: both; 
  }