@font-face {
    font-family: Utopia;
    src: url('fonts/utopia_regular.ttf');
    font-weight: normal;
    font-style: normal;
}
/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
input{
	border:1px solid #b0b0b0;
	padding:3px 5px 4px;
	color:#979797;
	width:190px;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
/* General Demo Style */
body{
	background: #000;
	font-weight: 400;
	font-size: 15px;
	color: #aa3e03;
	overflow-y: scroll;
	overflow-x: hidden;
}
.ie7 body{
	overflow:hidden;
}
a{
	color: #333;
	text-decoration: none;
}
.container{
	position: relative;
	text-align: center;
}
.clr{
	clear: both;
}

header {
  position: absolute;
  bottom: 40%;
  text-align: center;
  color: #fff;
  width: 100%;
}
.top-head {font-family: 'Playfair Display','Utopia', sans-serif;font-size:150px;margin-bottom:20px;text-shadow: 5px 5px 5px rgba(0,0,0,0.7);}
header h1{
	font-family: 'Ubuntu', sans-serif;
	font-size: 28px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 0 10px;
	position: relative;
	color: #fff;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.9);
	text-transform:uppercase;
}
header h2, header h2 a {
	font-family: 'Ubuntu', sans-serif;
	font-size:20px;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
	color: #fff;
	max-width: 600px;
	margin: 0 auto;
	word-break:keep-all;
}
header h2 a {
	text-decoration:underline;
}
span.no-break {display:inline-block;}
/* Header Style */
.codrops-top{
	width: 100%;
	height:155px;
	background-color:#3f1f17;
	z-index: 9999;
	position: relative;
}
	#logo {
		display: block;
		height: 72px;
		margin: 0 auto;
		padding-top: 40px;
		width: 232px;
	}

.codrops-top span.right{
	float: right;
}
.codrops-top span.right a{
	float: none;
	display: inline;
}
/* Media Queries */
@media screen and (max-width: 940px) {
	.codrops-top{
	height:125px;
	}
	#logo {
		height: 72px;
		padding-top: 35px;
		width: 232px;
	}
	#logo img {
		height:auto;
		width: 176px;
	}
}
@media screen and (max-width: 767px) {
	.container > header{
		text-align: center;
	}
	.top-head {font-size:100px;}
	header h1{font-size: 23px;line-height: 27px;}
	header h2, header h2 a {font-size:18px;}
}
@media screen and (max-width: 467px) {
	.top-head {font-size:80px;}
	header h1{font-size: 20px;line-height: 23px;}
	header h2, header h2 a {font-size:15px;}
	
	.codrops-top{
	height:105px;
	}
	#logo {
		height: 72px;
		padding-top: 30px;
		width: 232px;
	}
	#logo img {
		height:auto;
		width: 136px;
	}
}
@media screen and (max-width: 400px) {
	.top-head {font-size:70px;}
	header h1{font-size: 18px;line-height: 20px;}
	header h2, header h2 a {font-size:13px;}
}
@media screen and (max-width: 380px) {
	.top-head {font-size:60px;}
}