/*
Theme Name: Virtue
Theme URI: http://kadencethemes.com/product/virtue-free-theme/
Description: The Virtue theme is extremely versatile with tons of options, easy to customize and loaded with great features. The clean modern design is built with html5 and css3 and uses the powerful responsive framework from Bootstrap to be a fully responsive and mobile friendly. It's fully ecommerce (Woocommerce) ready with all the tools you need to design an awesome online store. The versatile design is perfect for any kind of business, online store, portfolio or personal site. We built Virtue with a powerful options panel where you can set things like your home layout, sliders, custom fonts, and completely customize your look without writing any CSS. You are going to love how easy this theme is to work with. Virtue was built and designed by <a href="http://kadencethemes.com/">Kadence Themes</a>.
Version: 2.4.5
Author: Kadence Themes
Author URI: http://kadencethemes.com/
Tags: responsive-layout, two-columns, one-column, custom-colors, custom-header, custom-menu, featured-images, translation-ready, theme-options, photoblogging
Text Domain: virtue

License: GNU General Public License v3.0
License URI: http://www.gnu.org/licenses/gpl.html
*/

@media only screen and (min-width: 320px) and (max-width: 700px)
{
    body.home #slider-id
    {
        overflow: hidden;
        width: 350px !important;
    }
        body.home #slider-id .panel-container
        {
            width: 100%;
        }
            body.home #slider-id .panel-container .panel
            {
                width: 350px !important;
            }
                body.home #slider-id .panel-container .panel-wrapper
                {
                    width: 100%;
                }
                    body.home #slider-id .panel-container .panel-wrapper article:first-child
                    {
                        width: 320px !important;
                        height: 320px !important;
                    }
                    body.home #slider-id .panel-container .panel-wrapper article
                    {
                        width: 160px !important;
                        height: 160px !important;
                    }
}