/*
 Theme Name:   Charmey
 Theme URI:    http://www.meomeo.ch/
 Description:  Customisations of the Virtue theme for Charmey
 Author:       MEO
 Author URI:   http://www.meomeo.ch
 Template:     virtue
 Version:      1.0.0
*/

ul.qtrans_language_chooser li.lang-de
{
    /*display: none !important;*/
}

html{
    width: 100%;
    margin:0;
    padding:0;
}
body{
    width: 100%;
    /*background-color: #5a3226;*/
    font-family: 'Catamaran', sans-serif;
    margin:0;
    padding:0;
    overflow-x: hidden;
}
/*
body.home.page {
	background: url('http://charmey.ch/wp/wp-content/uploads/2015/04/vue-sur-le-moleson.jpg') no-repeat center 200px;
}
*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Catamaran', sans-serif;
}
#fancybox-content {
	width:100% !important;
}
.postlist article {
	border:none !important;
}

/* Background */
.contentclass,
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

#bg-image-shadow
{
    background: rgba(255,255,255,0.61);
    background: -moz-linear-gradient(top, rgba(255,255,255,0.61) 0%, rgba(246,246,246,0.16) 73%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.61)), color-stop(73%, rgba(246,246,246,0.16)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.61) 0%, rgba(246,246,246,0.16) 73%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0.61) 0%, rgba(246,246,246,0.16) 73%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0.61) 0%, rgba(246,246,246,0.16) 73%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.61) 0%, rgba(246,246,246,0.16) 73%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}

/* Header */
.headerclass {
  padding: 65px 20px;
}
.headerclass div.container {
  position: relative;
  width: 600px !important;
}
.kad-header-left {
	max-width:320px;
	margin:0 auto;
}
.topbar-widget {
  color: #fff;
    position: absolute;
    right: 150px;
    top: 5px;
    z-index: 300;
}
.qtrans_language_chooser {
  float: right;
}
.qtrans_language_chooser li {
  float: right;
  margin: 0 3px;
  font-size:14px;
}
.qtrans_language_chooser li:before {
  opacity: 0.7;
  margin-right: 3px;
  color: #5a3226;
}
.qtrans_language_chooser li:last-child:before {
  content: "";
}
.topbar-widget .qtrans_language_chooser a {
  color: #5a3226;
  font-weight: bold;
}
.topbar-widget .qtrans_language_chooser a span {
    opacity:.7;
}
.topbar-widget .qtrans_language_chooser a:hover span,
.qtrans_language_chooser li.active a span {
    opacity:1;
    font-weight:900;
}
#logo {
  padding-top: 0px !important;
}

input, textarea {
  border: medium none !important;
}

/* MENU */

	/* General - Default */
        #top-content-bar .menu-toggle{
            right:85px
        }
		.menu-toggle {
            background: url(./images/burger_brown_18x21.png) no-repeat 0 0 transparent;
		    height:18px;
		    padding: 0;
		    position: absolute;
		    right:95px;
		    top:7px;
		    width:21px;
		    z-index: 1001;
		}
        @media only screen and (min-device-width : 1024px)
        {
            .menu-toggle {
                background: none !important;
            }
            .menu-toggle:after
            {
                content: "menu";
                text-transform: uppercase;
                width: 100%;
                position: relative;
                top: -2px;
            }
        }
        nav#primary-navigation {
            display: none;
            background-color: #fed440;
            left: 0;
            position: absolute;
            width: 100vw;
            z-index: 200;
        }
        nav#primary-navigation > div{
            display: flex;
            width: 96%;
            padding: 5rem 2% 5rem 2%;
            flex-wrap: wrap;
        }
        nav#primary-navigation > div > div {
            flex: auto
        }
        nav#primary-navigation > div > div.navigation_1
        {
            padding-left: 20px !important;
        }
        nav#primary-navigation > div > div.navigation_2
        {
            padding-left: 70px;
        }
        nav#primary-navigation .sf-description{
            display: none;
        }
        nav#primary-navigation ul.menu
        {
            list-style: none;
        }
        nav#primary-navigation ul.menu li a {
            border-bottom: 1px solid rgba(90, 50, 38, 0.3);
            color: #5a3226 !important;
            display: inline-block;
            font-size: 16px;
            /*font-weight: bold;
            height: 4em;
            letter-spacing: 1px;*/
            line-height: 2em;
            padding: 0.4em 0 0.4em 0.4em;
            text-decoration: none;
            text-shadow: none;
            /*text-transform: uppercase;*/
            width: 100%;
        }
        nav#primary-navigation > div > div h2
        {
            font-size: 18px !important;
        }
        nav#primary-navigation .newsletter-input
        {
            color: #5a3226 !important;
            background-color: #fed440 !important;
            border-color: #5a3226 !important;
        }
        nav#primary-navigation > div > div .newsletter-submit
        {
            color: #fed440;
            background-color: #5a3226;
        }
        nav#primary-navigation > div > div .virtue_social_widget > a
        {
            color: #fed440;
            background-color: #5a3226;
        }
		/*nav#primary-navigation {
		  height: auto;
		  position: absolute;
		  right: 65px;
		  text-align: center;
		  top: 30px;
		  width: 335px;
		  z-index: 70000;
		  display:none;
		}
		.home .menu-toggle {
		  position: absolute;
		  right: 85px;
		}
      /*
	body:not(:target) .menu-toggle.show-m {display:block;}
	body:not(:target) .menu-toggle.hide-m {display:none;}
	body:not(:target) ul.menu {display:none;}

	/* = is clicked * /
	#body:target .menu-toggle.show-m {display:none;}
	#body:target .menu-toggle.hide-m {display:block;}
	#body:target nav#primary-navigation {display:block;}

	/* x is clicked * /
	#html:target .menu-toggle.hide-m {display:none;}
	#html:target .menu-toggle.show-m {display:block;}
	#html:target nav#primary-navigation {display:none;}
		*/
	/*ul.menu li a {
	  border-bottom: 1px solid rgba(90, 50, 38, 0.3);
	  color: #5a3226 !important;
	  display: inline-block;
	  font-size: 14px;
	  font-weight: bold;
	  height: 4em;
	  letter-spacing: 1px;
	  line-height: 3.5em;
	  padding: 0.4em 0 0.4em 0.4em;
	  text-decoration: none;
	  text-shadow: none;
	  text-transform: uppercase;
	  width: 100%;
	}
	nav#primary-navigation {
		background-color: #fed440;
    	color: #fff;
	}
	nav#primary-navigation ul {
    	padding: 0;
	}
	nav#primary-navigation ul li {
		background: #fed440 none repeat scroll 0 0;
	    display: block;
	    font-size: 0.8em;
	    margin: 0;
	    text-align: center;
	    width: 100%;
	}
	nav#primary-navigation ul li a {padding: 0.3em 0;color: #fff;}


	.tcb-menu-category #menu-main-menu {
		display:none;
	}*/
/* Content */

.title-0 {font-size:32px;line-height:34px;font-weight: bold;}
.title-1 {font-size:28px;line-height:30px;font-weight: bold;}/*font-size:30px;line-height:32px;*/
.title-2 {font-size:18px;line-height:20px;/*font-size:20px;line-height:22px;*/}
.title-3 {font-size:14px;line-height:18px;font-weight: bold;text-transform:uppercase;}
.text-1 {font-size:18px;line-height:22px;}
.text-2 {font-size:15px;line-height:18px;}
.text-3 {font-size:13px;line-height:18px;font-family: 'Droid Serif', serif;font-style:italic;}

@media only screen and (min-width: 320px) and (max-width:500px)
{
	.title-0 {font-size:24px;line-height:28px;}
	.title-1 {font-size:24px;line-height:26px;}
	.title-2 {font-size:16px;line-height:18px;}
	.title-3 {font-size:14px;line-height:16px;}
	.text-1 {font-size:14px;line-height:16px;}
	.text-2 {font-size:12px;line-height:14px;}
	.text-3 {font-size:12px;line-height:14px;}
    nav#primary-navigation > div > div {
        width: 100%;
    }
    nav#primary-navigation > div > div h2 {
        text-align: center;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-height: 736px)
{
	.title-0 {font-size:24px;line-height:28px;}
	.title-1 {font-size:24px;line-height:26px;}
	.title-2 {font-size:16px;line-height:18px;}
	.title-3 {font-size:14px;line-height:16px;}
	.text-1 {font-size:14px;line-height:16px;}
	.text-2 {font-size:12px;line-height:14px;}
	.text-3 {font-size:12px;line-height:14px;}
    nav#primary-navigation > div > div {
        width: 100%;
    }
    nav#primary-navigation > div > div h2 {
        text-align: center;
    }
}
@media only screen and (min-device-width : 737px) and (max-device-width : 1024px)
{
    nav#primary-navigation > div > div {
        width: 100%;
    }
    nav#primary-navigation > div > div h2 {
        text-align: center;
    }
}

.white {color:#fff !important;}
.dark-brown {color:#5A3226 !important;}
.bright-brown {color:#a48e87 !important;}
.yellow {color:#fed440 !important;}
.blue {color:#5ca0ce !important;}

.page-header {
  padding-top: 50px;
	margin-bottom:0;
	border:none !important;
}
h1.entry-title {
  color: #fff;
  text-align: center;
}
.row.row-archive {position:relative;}
.wrap.contentclass {
  padding: 0;
  position: relative;
  width: 100%;
  margin:0;
  border:none;
}
#top-content-bar-bg {
	position:absolute;
	top:0;
	left:0;
	height:30px;
	display:block;
	width:100%;
	background:#fed440 none repeat scroll 0 0;
}
	#top-content-bar {
	  display: block;
	  margin: 0 auto;
	  max-width: 760px !important;
      width: 100%;
	  position: relative;
	  z-index: 1000;
	  min-height: 30px;
	}
		#wishlist-counter {
		  background: #fff none repeat scroll 0 0;
		    color: #5a3226;
		    font-weight: bold;
		    font-size: 13px;
		    height: 26px;
		    left: 35px;
		    line-height: 17px;
		    padding: 3px;
		    position: absolute;
		    text-align: center;
		    top: -28px;
		    width: 140px;
		    display:none;
		}
			#wishlist-counter:after {
			    border-left: 5px solid transparent;
			    border-right: 5px solid transparent;
			    border-top: 5px solid #fff;
			    content: "";
			    height: 0;
			    left: 0;
			    margin: 0 auto;
			    position: absolute;
			    right: 0;
			    top: 100%;
			    width: 0;
			}
#top-content-searchbar {
	background: #fed440 none repeat scroll 0 0;
    display: none;
    margin: 0 auto;
    max-width: 710px !important;
    width: 100%;
    z-index: 30000;
    position: relative;
    top: 30px;
    padding: 25px 0;
}
	#top-content-searchbar .searchfield {
    	margin: 0 0px 0 35px;
    	width: 180px;
    	height: 30px !important;
    	padding-left: 10px;
	    border: 1px solid #fff !important;
	    background-color: #fed440;
	    float: left;
	    color:#fff;
	}
	#top-content-searchbar .searchsubmit {
		/*background: rgba(0, 0, 0, 0) url("./images/search_brown_18x21.png") no-repeat scroll 0 0;*/
  		background-color: #fff;
	    border: 1px solid #fff !important;
	    color: #fed440;
	    padding: 2px 10px;
	    font-size: 12px;
    	height: 30px;
    	float: left;
	}
	#top-content-searchbar #s {
		border: medium none;
	}
	#top-content-searchbar ul {
		display: inline-block;
		clear: left;
    	list-style: outside none none;
    	margin: 3px 0 0;
    }
	#top-content-searchbar ul li {
		display: inline-block;
    	margin-right: 10px;
	}
	#top-content-searchbar ul li span {
    	margin-bottom: 3px;
	}
	#top-content-searchbar ul li input {}
	.tcb-menu-wishlist {z-index: 23000; position:absolute; top: 7px; left:90px;}
		.tcb-menu-wishlist,
		.tcb-menu-wishlist a,
		.tcb-menu-wishlist a img {display:block;width:21px;height:18px;}
                .tcb-menu-mainmenu {
                    display: block;
                }
   .tcb-menu-search {
	  position: absolute;
	  right: 123px;
	  top: 2px;
	  z-index: 23000;
	}
		.tcb-menu-search,
		.tcb-menu-search a,
		.tcb-menu-search a img {display:block;width:21px;height:18px;margin: 2px 5px 0 5px;}
#home-page-top-text {
  display: block;
  margin: 0 auto;
  padding-top: 60px;
  text-align: center;
  width: 100%;
}
#content.container {
    width: 100% !important;
  /*padding-top: 30px;*/
}
#page-bottom-container {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  width: 580px;
}
.simple-page-content{
    background-color: rgba(255, 255, 255, 0.87);
    margin: 30px auto;
    padding: 15px 30px;
    width: 710px;
}

.entry-content p,
.content-single-article p,
.simple-page-content p,
.bloc-category-article p,
article#detail-cat p{

}
.entry-content p,
.bloc-category-article p{
    /*color: #5a3226;*/
}

.content-single-article p{

}
.simple-page-content .page-header{
    padding: 0;
}
.bloc-category-article h1,
.simple-page-content .page-header h1{
    text-align: left;
    color: #5a3226;
}

.simple-page-content form.wpcf7-form{
    width: 100%;
}
.simple-page-content form.wpcf7-form p,
.simple-page-content form.wpcf7-form p span,
.simple-page-content form.wpcf7-form p span input,
.simple-page-content form.wpcf7-form p span textarea{
    width: 100%;
    max-width: none;
}

/* Footer */

.virtue_social_widget a.facebook_link
{
    margin-left: 0px !important;
}

.footer-widget .mc4wp-form
{
    margin-top : 0 !important;
}

/* Slider and Postlist */

.coda-slider-wrapper { padding: 0; }

  .coda-slider-wrapper .coda-slider { width: 580px; }

    .coda-slider-wrapper .coda-slider .panel { width: 580px; }

      .coda-slider-wrapper .coda-slider .panel .panel-wrapper { padding: 0px; }

  .coda-slider-wrapper .coda-nav, .tcb-menu-category {display: none;}
  .home.page .coda-slider-wrapper .coda-nav, .home.page .tcb-menu-category {display: block;}

    .coda-slider-wrapper .coda-nav .current,
	.tcb-menu-category .current-menu-item a { opacity:1; }

    .coda-slider-wrapper .coda-nav a,
	.tcb-menu-category a {
      margin-right: 1px;
      padding: 3px 6px;
      text-transform:uppercase;
    }

    .coda-slider-wrapper .coda-nav a:hover,
    .tcb-menu-category a:hover {
      text-shadow: none;
    }
	.coda-slider-wrapper .coda-nav a::after,
    .tcb-menu-category a::after {
	  margin-left: 10px;
	  font-weight:normal !important;
	}
	.coda-slider-wrapper .coda-nav li:last-child a::after,
	.tcb-menu-category li:last-child a::after {
	  content: "";
	  margin-left: 0px;
	}

  .coda-slider-wrapper .coda-nav-left, .coda-slider-wrapper .coda-nav-right {}

    .coda-slider-wrapper .coda-nav-left a, .coda-slider-wrapper .coda-nav-right a {
        color: #fff;
        padding: 5px;
        width: 80px;
        height: 80px;
        font-size:0.001em;
        text-indent:-9999px;
    }

  .coda-slider-wrapper .coda-nav-left-arrow {
    width: 25px;
    height: 25px;
    background: url(./slider/img/arrow.png) no-repeat top left;
    margin-top:50px;
  }

.coda-slider-wrapper .coda-nav-left-arrow a {
    width: 0;
    height: 0;
    border:none;
  }

  .coda-slider-wrapper .coda-nav-left-arrow:hover {
    background: url(./slider/img/arrow.png) no-repeat bottom left;
  }

  .coda-slider-wrapper .coda-nav-right-arrow {
    width: 25px;
    height: 25px;
    background: url(./slider/img/arrow.png) no-repeat top right;
    margin-top:50px;
  }
.coda-slider-wrapper .coda-nav-right-arrow a {
    width: 0;
    height: 0;
    background: none;
    margin-top:0;
    border:none;
  }

  .coda-slider-wrapper .coda-nav-right-arrow:hover {
    background: url(./slider/img/arrow.png) no-repeat bottom right;
  }

  .coda-slider-wrapper .coda-nav-left-arrow:active, .coda-slider-wrapper .coda-nav-right-arrow:active {
    margin-top: 55px;
  }

  .coda-slider-wrapper .loading {
    height: 100%;
    padding: 20px;
    text-align: center;
  }

.arrows .coda-slider { margin: 0 10px; }

.coda-slider-wrapper {
  clear: both;
  overflow: auto;
  margin: 0 auto;
}
	.coda-slider-wrapper * {
        border:none !important;
	}

  .coda-slider-wrapper .coda-slider {
    float: left;
    overflow: hidden;
    position: relative;
  }

    .coda-slider-wrapper .coda-slider .panel-container { position: relative; }

      .coda-slider-wrapper .coda-slider .panel-container .panel {
        display: block;
        float: left;
      }

    .coda-slider-wrapper .coda-nav,
    .tcb-menu-category {
        background: transparent none repeat scroll 0 0;
        height:30px;
        margin:50px auto 0px;
        max-width:580px;
    }
    .coda-slider-wrapper .coda-nav {
        margin:20px auto;
    }

    .coda-slider-wrapper .coda-nav ul,
    .tcb-menu-category ul.inline-menu {
        padding:0;
        clear: both;
        display: block;
        margin: auto;
        overflow: hidden;
        margin: 0 auto 20px;
        max-width: 100% !important;
    	min-width: 88% !important;
    }

    .coda-slider-wrapper .coda-nav ul li,
    .tcb-menu-category ul.inline-menu li
    {
        display: inline-block;
        text-align:center;
    }

    .coda-nav ul li a:before {display:inline-block;margin-right:3px;}
    .coda-nav ul li.tab1 a:before {content:url('./images/famille_brown_22x22.png');}
    .coda-nav ul li.tab2 a:before {content:url('./images/couple_brown_22x22.png');}
    .coda-nav ul li.tab3 a:before {content:url('./images/team_brown_22x22.png');}

    .coda-nav ul li.tab2 {
    	border-left:1px solid #5a3226;
    	border-right:1px solid #5a3226;
    	margin: 0 25px;
    	padding: 0 25px;
    }

    .coda-slider-wrapper .coda-nav ul li a,
    .tcb-menu-category ul.inline-menu li a
     {
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        color: #5a3226;
        font-size:14px;
        line-height:16px;
        opacity: 0.4;
        font-weight: bold;
    }
    .coda-slider-wrapper .coda-nav ul li a.current,
    .tcb-menu-category ul.inline-menu li a.current,
    .coda-slider-wrapper .coda-nav ul li a:hover,
    .tcb-menu-category ul.inline-menu li a:hover
     {
        opacity: 1;
    }

    .coda-slider-wrapper .coda-nav-left-arrow, .coda-slider-wrapper .coda-nav-right-arrow {
        cursor: pointer;
        float: left;
    }

    .coda-slider-wrapper .coda-nav-left-arrow a, .coda-slider-wrapper .coda-nav-right-arrow a {
        display: block;
    }

  .coda-slider-wrapper .coda-nav-left, .coda-slider-wrapper .coda-nav-right { float: left; }

    .coda-slider-wrapper .coda-nav-left a, .coda-slider-wrapper .coda-nav-right a {
      display: block;
      text-align: center;
      text-decoration: none;
    }

  .coda-slider-wrapper .coda-nav-left, .coda-slider-wrapper .coda-nav-left-arrow { clear: both; }


.slide-tag {
    display: none !important;
}
#slider-id {height:800px !important;margin-top: 10px;}
#slider-id p {margin:0 !important;padding:0 !important;}
.home-sliding .row.row-archive {
    max-width: 100% !important;
}
.home-sliding .postlist, .container.home-sliding {
    max-width: 760px !important;
    margin: 0 auto;
    width: 100%;
}
.home-sliding .row.row-archive {
  max-width: 100% !important;
}
#slider-id .panel .panel-wrapper article:first-child {
    height: 381px !important;
    margin: 0 0 20px !important;
    width: 380px !important;
}
#slider-id .panel .panel-wrapper article:first-child .col-md-7.postcontent-excerpt header h2 {
    margin: 15px 0 10px;
}
#slider-id .panel .panel-wrapper article:nth-child(3n+1) {
    margin-right: 0;
    clear:both;
}
.coda-nav-left a {
    background: url(./images/IC_arrow_left.png) no-repeat 0 0 transparent;
    background-size: cover;
}
.coda-nav-right a {
    background: url(./images/IC_arrow_right.png) no-repeat 0 0 transparent;
    background-size: cover;
}
.postlist{
  display: block;
  float: none;
  margin: 25px auto 35px;
  max-width: 620px;
  width: 100%;
  overflow: hidden;
}
.postlist .col-md-7 header {
    /*width: 90%;*/
}
#category-list{
    background-color: rgba(255, 255, 255, 0.87);
    max-width: 760px !important;
    margin: 30px auto 35px auto;
    padding: 0;
    width: 100% !important;
}
#category-list .no-post-exist{
    padding: 0 20px 20px 20px;
    width: 100%;
}
#category-list .data-category{
    margin-bottom: 30px;
}

#category-list .data-category .bloc-image-category{
    height: 200px;
    width: 100%;
    overflow: hidden;
}

#category-list .data-category p{
    color: #b3b3b3;
    padding: 0 20px 0 20px;
    text-align: justify;
}
@media screen and (min-width: 300px) and (max-width: 740px){
    #category-list .data-category p{
        padding: 0 0px;
    }
}

#category-list .bloc-category-article{
    width: 620px;
    margin: 0 auto;
}

.season-filter
{
    display: block !important;
    padding: 0 0 20px 10px;
    font-size: 16px !important;
    text-transform: uppercase;
}
.season-filter > span
{
    color: #5a3226;
    cursor: pointer;
    margin-right: 10px;
}
.season-filter > span:hover,
.season-filter > span.active
{
    color: #fed440;
}

.postlist div.article-slider.new-row
{
    display: block;
    width: 600px;
    margin-right: 0 !important;
}

.postlist article,
.postlist div.article-slider,
#page-bottom-container article,
#page-bottom-container div.article-slider
{
    display: block;
    float: right;
    height: 180px;
    width: 180px;
    margin: 0 20px 20px 0;
    overflow: hidden;
}
#page-bottom-container article,
#page-bottom-container div.article-slider
{
    float: left;
    background-color: #5a3226;
}
#page-bottom-container article:last-child {
	margin-right: 0 !important;
}
.page-bottom-element.postcontent a {
  display: block;
  margin: 20px auto 5px;
  width: 100px;
  text-align: center;
}
.postlist article#detail-cat
{
    position: relative;
    background-color: #5a3226;
    color: #FFF;
    padding: 10px;
}
article#detail-cat h2
{
    padding-top: 30px;
    color: #fff;
    text-transform: uppercase;
}
.postlist article#detail-cat a#cat-link
{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #FFF;
    display: block;
    padding: 5px 10px;
    background-color: #fed440;
    color: #5a3226;
    font-weight: bold;
}
.postlist article#detail-cat a#cat-link:hover
{
    background-color: #5a3226;
    color: #fed440;
}
.postlist article:first-child {
    height: 380px;
    width: 380px;
    margin: 0 0 20px 0;
}

.postlist div.article-slider article
{
    margin: 0 !important;
    width: 180px !important;
    height: 180px !important;
}
.postlist div.article-slider.new-row article
{
    margin-left: 20px !important
}

#category-list article:first-child,
#category-list article
{
    height: 180px;
    width: 180px;
    float: left;
    margin: 0 0 20px 20px;
}

.postlist article.wishlist-item:first-child{
    height: 180px;
    width: 180px;
    float: left;
    margin: 0;
}

.postlist article:last-child {

}
.postlist article#post-special {
    background-color: #5a3226 !important;
    text-align: center;
    margin-top: 1px;
}
.postlist article#post-special h2{
    color: #fff;
    padding-top: 60px;
}
.postlist article#post-category {
    background-color: #5a3226 !important;
    text-align: center;
    margin-top: 1px;
    float: left !important;
}
.postlist article#post-category h2{
    font-family: 'Bliss Light',sans-serif;
    color: #fff;
    padding-top: 60px;
}
.postlist article:nth-child(3n+1),
.postlist div.article-slider:nth-child(3n+1)
{
    margin-right: 0;
}

.postlist div.article-slider article
{

}

#category-list article:nth-child(3n+1) {
    /*margin-right: 20px;*/
}

.postlist .row {
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
    margin: 0;
}
	.postlist .row:hover .col-md-5 {
	  opacity: 1;
	}
        .postlist article:first-child .row .col-md-7.postcontent {
            /*-moz-box-shadow: inset 0px 0px 50px 20px #333;
            -webkit-box-shadow: inset 0px 0px 50px 20px #333;
            -o-box-shadow: inset 0px 0px 50px 20px #333;
            box-shadow: inset 0px 0px 50px 20px #333;*/
        }
        .postlist .row .col-md-7.postcontent,
        .bloc-category-article article:first-child .row .col-md-7.postcontent{
            /*-moz-box-shadow: inset 0px 0px 50px 0px #333;
            -webkit-box-shadow: inset 0px 0px 50px 0px #333;
            -o-box-shadow: inset 0px 0px 50px 0px #333;
            box-shadow: inset 0px 0px 50px 0px #333;*/
        }
	.postlist .row:hover .col-md-7.postcontent {
	  opacity: 1;
	}
        .postlist article:first-child .row:hover .col-md-7.postcontent-excerpt {
            opacity:0.86;
            /*-moz-box-shadow: inset 0px 0px 50px 20px #b39650;
            -webkit-box-shadow: inset 0px 0px 50px 20px #b39650;
            -o-box-shadow: inset 0px 0px 50px 20px #b39650;
            box-shadow: inset 0px 0px 50px 20px #b39650;*/
	}
	.postlist .row:hover .col-md-7.postcontent-excerpt {
            opacity:0.86;
            /*-moz-box-shadow: inset 0px 0px 50px 0px #b39650;
            -webkit-box-shadow: inset 0px 0px 50px 0px #b39650;
            -o-box-shadow: inset 0px 0px 50px 0px #b39650;
            box-shadow: inset 0px 0px 50px 0px #b39650;*/
	}

.postlist .row .col-md-5 {
    position: absolute;
    width: 100%;
    padding: 0;
}
    .postlist .row .col-md-5 img {
        width: 100%;
        height:100%;
    }

.postlist .row .col-md-7 .plus-read-more {
    bottom:33px;
    font-size:21px;
    position: absolute;
    right: 3px;
    text-align: center;
    bottom: 5px;
    z-index: 4;
}
	.postlist .row .col-md-7 .plus-read-more a {
	    display: block;
	    line-height: 23px;
	    margin: 0 3px 2px;
	}

.postlist .row .col-md-7.postcontent {
    /*background-color: #5a3226;*/
    position: absolute;
    height: 100%;
    padding: 0;
    width: 100%;
}

.postlist .row .col-md-7.postcontent header {
  position: absolute;
  bottom: 0;
}
	.archive.category article:first-child .row .col-md-7.postcontent header {
            top: 0;
	}
	.postlist .row .col-md-7.postcontent header h2,
    #category-list article:first-child .row .col-md-7.postcontent header h2{
            /*display: none;*/
            color: #fff;
            font-weight: bold;
            margin: 0 10px 10px 10px;
            padding: 0;
	}
	.postlist article:first-child .row .col-md-7.postcontent header h2 {
            margin: 0 50px 10px 10px;
	}
	.postlist article .row .col-md-7.postcontent header h2 {
    		z-index: 3;
    		position: relative;
	}
        body.category .postlist article:first-child .row .col-md-7.postcontent header h2 {
        	font-size: 45px;
    		line-height: 45px;
	}
        .postlist .row:hover .col-md-7.postcontent header h2
        {
            display: none;
        }
	.postlist .row .col-md-7.postcontent .plus-read-more {

	}
        .postlist .row .col-md-7.postcontent .plus-read-more a {
		   width:21px;
		   height:33px;
		   background: url('./images/arrow_yellow_21x33.png') no-repeat 0 0 transparent;
        }

.postlist .row .col-md-7.postcontent-excerpt {
    position: absolute;
    height: 100%;
    padding: 0 10px;
    width: 100%;
    opacity:0;
    background-color:#5a3226;
    color:#fff;
    z-index: 5;
}
	.postlist .row .col-md-7.postcontent-excerpt header {
	    padding: 0;
	}
        .postlist .row .col-md-7.postcontent-excerpt header h2 {
            color: #fff;
            font-weight: bold;
            letter-spacing: 0;
            margin: 10px 0 0 0;
            padding: 0;
        }
	.postlist .row .col-md-7.postcontent-excerpt .entry-content {
            color: #fff;
            padding:10px 0;
            position: relative;
	}
	.postlist .row .col-md-7.postcontent-excerpt .plus-read-more {

	}
		.postlist .row .col-md-7.postcontent-excerpt .plus-read-more a {
		   width:21px;
		   height:33px;
		   background: url('./images/arrow_yellow_21x33.png') no-repeat 0 0 transparent;
		}




.postlist.what-to-do .row .col-md-7 .plus-read-more {
	font-size: 13px;
}
	.postlist.what-to-do .row .col-md-7.postcontent header,
	.postlist.what-to-do .row .col-md-7.postcontent-excerpt header {
	  margin: 40px 0 0;
	  padding: 0;
	  position: relative;
	  text-align: center;
	  width: 100%;
	}
	.postlist.what-to-do article#post-category h2 {
	  font-size: 23px;
	  line-height: 27px;
	  padding-top: 0 !important;
	  margin: 5px 0 0;
      padding-top: 0 !important;
	}

/* Gradient */
.squarre-gradient {
  display: block;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+20,0.42+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0.42) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.42) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.42) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#6b000000',GradientType=0 ); /* IE6-9 */
}

#--category-list article:first-child .squarre-gradient {
    background:none;
}



.page-fullwidth-php .postlist .row .col-md-7.postcontent-excerpt header h2 {
	font-size: 16px;
    line-height: 18px;
}
.page-fullwidth-php .postcontent-excerpt .entry-content p {
  font-size: 13px;
  line-height: 15px;
}

#page-bottom-container {
    clear: both;
}
    .page-bottom-description {
        font-size: 18px;
		text-align: center;
		color: #fff;
		line-height: 20px;
		font-weight: bold;
    }

body.page-template-msc-attachment-request
{
    background-color:#cdc1bd;
    width: 85%;
    margin: 0px auto;
    padding-top: 20px;
}

body.page-id-1500 .bloc-file-request,
body.page-id-1500 .bloc-info
{
    display: none !important;
}



/* Single Article */
.row.single-article {
  background-color: rgba(255, 255, 255, 0.87);
  width: 710px;
  margin: 30px auto;
}
.row.single-article .main {
  width: 100%;
  padding: 0 35px;
}
	.sub-elmt-title {
	    display: block;
	    margin-bottom: 5px;
	    margin-top: 15px;
	    line-height: 20px;
	}
.single-article-left {
	float:left;
	width:60%;
}
        .bloc-category-article h1
        {
            padding: 10px 20px 0 20px;
            text-transform: uppercase;
            font-size: 23px;
            text-align: left;
        }

        @media screen and (min-width: 300px) and (max-width: 736px) /*and (orientation: portrait)*/{
            .bloc-category-article h1{
                padding: 0;
            }
        }

	.single-article h1 {
	  text-align: left;
font-weight:bold;
}
	.single-article .post-single-img {
	  text-align: left;
	}
        .single-article-right {
                float: right;
                width: 38%;
                padding-top: 5px;
                text-align: right;
        }
        .wpfp-img {
            margin-left: 8px;
    margin-right: 0;
        }
        .r-wishlist {
		  margin-bottom: 30px;
		}
		.r-share {
		  margin-top: 30px;
		}
	.r-wishlist span {
	  text-transform:uppercase;
	  font-size:12px !important;
	}
	.r-image-gallery {
	  display: block;
	  overflow: hidden;
	}
	.r-image-gallery a {
	  display: block;
          background-color: #5a3226;
          float: right;
	  height: 62px;
	  margin: 0 10px 10px 0;
	  width: 62px;
          overflow: hidden;
	}
	.r-image-gallery a#a-img1,
	.r-image-gallery a#a-img4 {
	  margin: 0 0px 10px 0 !important;
	}
        .r-share{
            clear: both;
        }

        .r-share .virtue_social_widget {
        	float: right;
    		text-align: right;}
        .r-share .virtue_social_widget a {
        	background-color: #5a3226;
    		color: #fff;
        }
        .r-share .virtue_social_widget a i {}


	.r-info {clear: both;}
        .r-info .sub-elmt-text{
            margin-bottom: 20px;
        }
        .sub-elmt-plan, .sub-elmt-pdf {
		  display: block;
		  height: 130px;
		  padding-top: 35px;
		  position: relative;
		  right:-10px;
		  width: 280px;
		}
        .sub-elmt-plan
        {
            height: 100px;
        }
        .sub-elmt-pdf .sub-elmt-pdf-bg {
		  background-color: #fed440;
		  display: block;
		  float: right;
		  padding: 5px 0;
		  width: 220px;
		}
        .sub-elmt-pdf .sub-elmt-pdf-bg a {
		  display: block;
		  overflow: hidden;
		  padding:10px 40px 10px 0;
		  width: 100%;
		}
        .sub-elmt-pdf .sub-elmt-pdf-img {
		  left:0;
		  margin: 0;
		  padding: 0;
		  position: absolute;
		  top: 15px;
		  z-index: 100;
		}
		/*
        .sub-elmt-plan .sub-elmt-plan-img{
            position: absolute;
            top: 0;
            left: -20px;
            margin: 0;
            padding: 0;
            z-index: 100;
        }
        */
        .sub-elmt-plan .sub-elmt-plan-bg {
            display: block;
            background-color: #fff;
            width: 120%;
            min-height: 50px;
            padding: 5px 0 5px 70px;
        }
        .sub-elmt-plan .sub-elmt-plan-bg a{
            color: #b3b3b3;
            display: block;
            width: 50%;
            font-size: 19px;
            font-style: italic;
        }

        .social-link {
          display: block;
          float: left;
          height: 32px;
          width: 32px;
          margin-right: 10px;
          border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
          color: #fff;
          padding: 5px 0 0 0;
          text-align: center;
        }
        .social-link i {font-size:23px;}
        .social-link i:hover {color: #555;}

.single-post article #respond {
  clear: both;
}

.endCol
{
    clear: both;
}

.no-margin-top
{
    margin-top: 0 !important;
}

/* shared-wishlist */
#shared-wishlist
{
    width: 100%;
    padding: 0 0 0 30px;
    position: relative;
}
h2.shared-title,
#shared-wishlist h2.shared-title {
    color: #5a3226;
    font-size: 25px;
    text-align: left;
}

#shared-wishlist .shared-wishlist-add-shared
{
    position: absolute;
    top: 10px;
    left: 210px;
    display: block;
}

#shared-wishlist .shared-wishlist-add-shared .fa
{
    font-size: 20px !important;
}
/* shared-wishlist */


/* single-article-mobile */
.single-article-mobile{
    display: none;
    margin: 0;
    padding: 20px 0 0 0;
}
.single-article-mobile img{
    width: 100%;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/* Comments */
#respond > form {
  overflow: hidden;
}
#comments {
  clear: both;
}
#commentform .row {
  margin-bottom: 20px;
}
	h3.recent-comments,
	h3.charmey-ecoute
        {
            color: #5a3226 !important;
            text-transform: uppercase !important;
            margin: 0 !important;
            font-size:17px;
        }
        #comments .comment-header
        {

        }
	h3.charmey-ecoute
        {
            font-size:20px !important;
        }
	#commentform .col-md-4 input {
		padding:0;
		margin-bottom:5px;
	}
	li.comment {padding:0 !important;}
	.comment .media-body {
	  border: medium none !important;
	  margin: 0 !important;
	  padding: 0 !important;
	}
	.comment-header h5,
	.comment-header .comment-meta,
	.comment-header .comment-meta time,
	.comment-header .comment-meta a {
		margin:0;
		padding:0;
	font-weight: normal !important;
	}
	#comments h5.media-heading {
	  float: left;
	  font-size: 11px;
	  line-height: 18px;
	}
	.comment-meta {
	  float: left;
	}
	.comment-meta:before {
		content: "|";
		margin-left: 5px !important;
	}
	li.comment p {
            line-height: 20px;
            margin: 5px 0 0 0;
        }
        li.comment ul.comment {
            margin: 10px 0 0 40px;
            padding: 0 10px 10px 10px;
            border-left: 1px solid #999;
        }

.kad-btn-primary {
  background: #fed440 none repeat scroll 0 0 !important;
  border: medium none;
  color: #5a3226;
  float: right;
  font-size: 13px;
  height: 30px;
  padding: 3px 10px;
  text-transform: uppercase;
}

/* Wishlist */
.wishlist-main .wishlist-image-header{
    background-color: #aaa;
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;
}
.wishlist-main .wishlist-description-header{
    width: 100%;
    padding: 10px 30px 50px 30px;
}
#content .row-archive.wishlist-content-bloc{
    background-color: rgba(255, 255, 255, 0.87);
    max-width: 710px;
    margin: 30px auto 35px auto;
    padding: 0;
}

#content .wishlist-content-bloc .wishlist-main{
    max-width: 710px;
    margin: 0 auto;
    padding: 0;
    overflow: visible;
}

.wishlist-main .wishlist-left-content{
    float: left;
    width: 75%;
    padding: 0 0 0 30px;
}

.wishlist-main .wishlist-right-content{
    float: right;
    width: 24%;
    position: relative;
}

.wishlist-content-bloc .wishlist-main article{
    display: block;
    float: left;
    height: 150px;
    width: 150px;
    margin: 0 10px 30px 0;
    overflow: visible;
}

.wishlist-main article .postcontent-excerpt{
    overflow: hidden;
}

.wishlist-content-bloc .wishlist-main article:first-child{
    height: 150px;
    width: 150px;
}

.wishlist-content-bloc .wishlist-main article:first-child .row .col-md-7.postcontent header a h2{

}

#content .wishlist-content-bloc .page-header{
    padding: 20px 30px 0 30px;
}

#content .wishlist-content-bloc .page-header h1{
    color: #5a3226;
    text-align: left;
}

#content .wishlist-content-bloc .wishlist-main article:nth-child(3n+1) {
    margin-right: 10px;
}

.my-wishlist{width:100%;}

.wishlist-container{}

.wishlist-item-remove {
  position: absolute;
  right: 0;
  top: 150px;
}
.wishlist-item-remove a {
	font-size: 12px;
    letter-spacing: 0.5px;
}
.wishlist-empty-list{
    font-style: italic;
    padding: 10px 30px;
}


.wishlist-delete-link{
    margin-top: 20px;
    clear: both;
    background-color:#cdc1bc;
    padding:15px;
}
.wishlist-delete-link .wpfp-img {
  display: none;
}
.wishlist-empty-footer {
  left: 15px;
  position: absolute;
  top:117px;
  width: 100%;
  text-align: center;
}
.wishlist-social-footer{
    position: absolute;
    left: 15px;
    z-index: 100;
    width: 100%;
    background-color: #fed440;
    padding: 15px;
}
.wishlist-social-footer .virtue_social_widget a {
  margin-right: 9px;
  background-color: #5a3226;
  color: #fff;
}
.wishlist-social-footer .virtue_social_widget a:first-child {
  margin-left: 8px !important;
}
.wishlist-social-footer .virtue_social_widget a:last-child,
.wishlist-social-footer .virtue_social_widget a:last-child:hover  {
  margin-right: 0px !important;
}
.wish-footer-text{
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
}
.wish-footer-social-element .social-link{
    float: left;
    width: 15px;
}

.wish-footer-social-element .social-link.email-shared
{
    margin-left: 5px;
}

.wish-footer-social-element .social-link.email-shared,
.wish-footer-social-element .social-link.email-shared .fa
{
    font-size: 20px !important;
}

.wishlist-bloc-footer{
    clear: both;
    padding: 30px 30px 20px 30px;
}

.wishlist-delete-link{
    margin: 0 0 20px 0;
}

.wishlist-message-warning{
    font-size: 12px;
    color: #5a3226;
}

.wishlist-message-warning p{
    font-size: 12px;
    color: #5a3226;
}

/* Archive */
.row-archive
{
    max-width: 760px;
    margin:0 auto;
    width: 100%;
}
.main-archive
{
    padding-top: 30px;
}
    /* Side Nav */
    .archive-left-arrow,
    .archive-right-arrow {
        display:block;
        /*position: relative;
        top: 30px;
        width:50px;*/
        height:100%;
        text-align:center;
    }
    .archive-left-arrow {float:left;}
    .archive-right-arrow {float:right;}

/* Page Navigation */
.wp-pagenavi {
  clear: both;
  margin-bottom: 20px;
}
.wp-pagenavi a,
.wp-pagenavi span {
  background: rgba(90, 50, 38, 1) none repeat scroll 0 0;
  color: #fed440;
}
.wp-pagenavi a:hover,
.wp-pagenavi .current {
  background: rgba(254, 212, 64, 1) none repeat scroll 0 0;
  color:#5a3226;
}

body.contact .simple-page-content table {
  margin-bottom: 20px;
  width: 90%;
}


/* Footer */
.footerclass {
  background: #5a3226 none repeat scroll 0 0 !important;
}
.single-footer {
    border-bottom: 1px solid #5a3226;
}
#containerfooter {
    width: 100%;
    margin: 0;
    font-size:13px;
    line-height:18px;
}
	#containerfooter h3 {
	    color: #fff !important;
	    font-style: normal;
	    font-size:14px;
	    line-height:18px;
	    margin:0 0 15px 0 !important;
	    font-family: 'Catamaran', sans-serif;
	}
	#containerfooter,
	.footercredits p,
	.footerclass a,
	.footernav ul li a {
        color: #a48e87 !important;
	}
        #containerfooter .virtue_social_widget a:hover
        {
            color: #fff !important;
        }
	.footerclass a:hover,
	.footernav ul li a:hover {
            color: #fed440!important;
	}
		.virtue_social_widget a i {
            display: block;
            width: 23px;
            height: 23px;
            padding-top: 1px;
		}
		.virtue_social_widget a {
            margin-right:5px;
            border-radius: 17px;
			-moz-border-radius: 17px;
			-webkit-border-radius: 17px;
		}
                #containerfooter .virtue_social_widget a {
                    /*background-color: #453528 !important;*/
                }
/* Newsletter Form */
.newsletter-submit {
  background: #a48e87 none repeat scroll 0 0;
  border: medium none;
  display: block;
  float: left;
  height: 30px;
  width: 25%;
  font-size:12px;
  color:#5a3226;
  font-family: 'Catamaran', sans-serif;
}
.newsletter-input {
  	background: #5a3226 none repeat scroll 0 0;
    border: 1px solid #a48e87 !important;
    color: #a48e87;
    display: block !important;
    float: left;
    height: 30px !important;
    padding-left: 10px;
    width: 75% !important;
    font-family: 'Catamaran', sans-serif;
}
.footercredits {
    /*border-top: 1px solid #a48e87;*/
    background-color: #5a3226;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top:5px;
    margin-bottom: 0;
    text-align: center;
}
.footercredits p{
    font-size: 13px;
}
/* Form */
label {
    font-weight: normal;
    display: none;
}
.mc4wp-form label{
    font-weight: normal;
}
#commentform input, #commentform textarea {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    box-shadow: none !important;
    color: #000;
    font-style: normal;
    width: 100%;
}
#commentform input{
    color: #5a3226;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
}

.wpcf7-submit,
.wpcf7-form-control.wpcf7-submit {
  background: #fed440 none repeat scroll 0 0 !important;
  border: medium none !important;
  display: block !important;
  float: right !important;
  height: 40px !important;
  color: #5a3226 !important;
  text-transform:uppercase !important;
  padding:5px 15px !important;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 14px !important;
    line-height: 18px;
}
#commentform textarea {
    margin-bottom: 10px;
}
#commentform input[type=text],
#commentform input[type=email] {
	padding: 5px 10px;
}
#commentform input[type=submit] {
    width: auto;
    background: #fed440 none repeat scroll 0 0;
    text-transform: uppercase;
    font-weight: bold;
}
#commentform label {
  display: inline-block;
  font-size: 15px;
  line-height: 18px;
}
/* Popup Form */
#fancybox-outer,
#fancybox-content {

}
#fancybox-content {
box-shadow: 1px 1px 3px 3px rgba(33, 33, 33, 0.3) !important;
-moz-box-shadow: 1px 1px 3px 3px rgba(33, 33, 33, 0.3) !important;
-webkit-box-shadow: 1px 1px 3px 3px rgba(33, 33, 33, 0.3) !important;
border: medium none !important;
}
.fancybox-bg {
  display: none !important;
}
#fancybox-close {
    right: 15px !important;
    top: 15px !important;
}

/* File Request Template Content */
body.file-request {
    color: #5a3226;
}
body.file-request form, body.file-request .bloc-file-request{
    clear: both;
    float: right;
    margin-right: 10px;
    width: 80%;
}
body.file-request .bloc-file-request h1, body.file-request .bloc-file-request h2{

}
body.file-request .bloc-file-request h2{
    display: block;
    margin-bottom: 30px;
}
body.file-request form h4 {
    font-size: 17px;
    line-height: 20px;
}
body.file-request form input {
    color:#5a3226;
    font-style: normal;
}
body.file-request form .checkbox-contact input {
    color: #5a3226 !important;
    display:block !important; height:20px !important;width:30px !important;float: left;
}
body.file-request form .checkbox-contact .wpcf7-list-item-label {
    color: #5a3226;
    display: block;
    float: left;
    margin-top: 3px;
    /*max-width: 85%;*/
}
body.file-request div.bloc-info{
    position: relative;
    display: block;
    height: 50px;
    padding: 5px 0;
    background-color: #fed440;
    width: 100%;
    clear: both;
}
.margintop30 {margin-top:25px;}
.p-input {margin-top:10px;}
.p-checkbox {margin-top:30px;}
body.file-request div.bloc-info img{
    position: absolute;
    top: -34px;
    left: -25px;
}
body.file-request div.bloc-info p{
    margin-bottom: 0;
}
.contact-form-notes {
    clear: both;
    display: block;
    padding-top: 10px;
    padding-left: 30px;
}
div.wpcf7-mail-sent-ok {
  border: medium none;
}
div.wpcf7 {
  overflow: hidden;
}
div.wpcf7-response-output {
  margin: 0;
  font-weight: bold;
}
div.wpcf7-validation-errors {
  border: 1px solid #f35100;
}
span.wpcf7-not-valid-tip {
    color: #f35100;
    display: block;
    font-size: 12px;
    font-style: italic;
    padding-left: 10px;
    padding-top: 3px;
}
.clear-both{
    clear: both;
}
footer .container .row{
    margin: 0;
}
footer .container .row div{
    min-height: auto;
}
/* Weather /  Meteo */
#page-bottom-element-meteo .page-bottom-element.postcontent.widget-area {
  display: block;
  height: 45px;
  margin: 40px auto;
  padding-left: 20px;
}
.wu-wrapper div img, .wu-wrapper table img {
  height: 50px;
  width: 50px;
  margin: 3px 0 0 10px;
}
.wu-forecast-wrapper .wu-day-title {
  color: #fff !important;
  font-size: 60px !important;
}
.wu-current-conditions .wu-day-title small {
  margin-left: -36px;
}
.wu-copyright {
  display: none;
}

.wu-wrapper .wu-alert.wu-alert-WND,
.wu-wrapper .wu-alert.wu-alert-WIN
{
    display: none !important;
}
/* mobile */

@media screen and (min-width: 300px) and (max-width: 736px) /*and (orientation: portrait)*/{


	#content.container {
	 background:url('http://charmey.ch/wp/wp-content/uploads/2015/04/vue-sur-le-moleson.jpg') no-repeat center top;
	}
	#slider-id .panel .panel-wrapper article:nth-child(3n+1) {
	    clear:none;
	}
    .topbar-widget{
        /*display: none;*/
       right: 80px;
    }
    .headerclass div.container {
        width: 100% !important;
    }
    .coda-nav{
        display: none;
    }
    nav#primary-navigation {
  		right: 0;
  		width: 100%;
	}
    .tcb-menu-category{
        display: none;
    }
    .tcb-menu-mainmenu{
        width: 100%;
        display: block;
        float: left;
    }
    .tcb-menu-mainmenu .menu-toggle{
        /*position: initial;
        margin: 7px auto 0 auto;*/
       right:15px !important;
    }
    .tcb-menu-wishlist{
        display: block;
        left: 10px;
    }
    .tcb-menu-search {
	  right: 55px;
	}
	#top-content-searchbar > form {
	  margin: 0 auto;
	  width: 320px;
	}
	#top-content-searchbar ul li {
	  margin-right: 3px;
	}
	ul#search-tags li span {
	  font-size: 12px;
	}
	#top-content-searchbar {
	  height: 100px;
	}

	#top-content-searchbar ul {
	  margin: 15px 0 0;
	  padding-left: 5px;
	}
	#top-content-searchbar .searchfield {
	  margin: 0 0px 0 5px;
	  width: 270px;
	}
    #slide-id .panel-container .panel-wrapper{
        width: 50% !important;
    }
    .postlist article:first-child .row .col-md-7.postcontent header h2 {
	  font-size: 18px;
	  line-height: 20px;
	  padding: 0 5px !important;
      text-transform: none !important;
	}
	.postlist .row .col-md-7.postcontent-excerpt header h2 {
	  font-size: 18px;
	  line-height: 20px;
	}
	.postlist article:first-child .row .col-md-7.postcontent-excerpt .entry-content {
	  font-size: 15px;
	  line-height: 18px;
	}

    /* Homepage slider */
    #slider-id {
        height: auto !important;
    }
    .coda-slider-wrapper .coda-slider {
	  margin: 0 auto !important;
	  width: 510px;
	}
	.coda-slider-wrapper .coda-slider .panel {
	  width: 510px;
	}
    .home-sliding .postlist, .container.home-sliding {
        min-width: 340px;
        max-width: 690px;
        margin: 0 auto;
    }
    .coda-slider-wrapper {
        margin: 20px auto 0 auto;
        /*width: 440px !important;*/
    }
    .coda-slider-wrapper .coda-slider {
        min-width: 340px;
        max-width: 690px;
        /*width: 60%;*/
    }
    .coda-slider-wrapper .coda-slider .panel {
        /*width: 345px;*/
    }
    #slider-id .panel .panel-wrapper article:first-child {
        height: 160px !important;
        margin: 0 10px 10px 0 !important;
        width: 160px !important;
    }
    .coda-nav ul li.tab2 {
	  margin: 0 5px;
	  padding: 0 5px;
	}
	.postlist article#post-special {
	  display: none;
	}

    /* Page content */
    .container {
        margin:0;
        padding: 0;
    }
    .simple-page-content{
        background-color: rgba(255, 255, 255, 0.87);
        margin: 30px auto 0 auto;
        padding: 15px 30px;
        width: 100%;
    }

    /* Article */
    .postlist,
    #category-list .bloc-category-article{
        max-width: 340px;
        width: 100% !important;
        margin: 10px auto 0 auto;
        /* padding: 30px 0 0 0; */
    }
    #category-list{
        margin-bottom: 0;
    }
    #category-list .bloc-category-article,
    .wishlist-left-content{
        max-width: 340px;
        width: 100% !important;
        margin: 10px auto 0 auto;
        padding: 30px 0 0 0;
    }
    #category-list .data-category{
        margin-bottom: 0;
    }
    .postlist article:first-child,
    #category-list article:first-child,
    .postlist article,
    #category-list article,
    .postlist article:nth-child(3n+1),
    #category-list article:nth-child(3n+1),
    .wishlist-content-bloc .wishlist-main article,
    .wishlist-content-bloc .wishlist-main article:first-child,
    .wishlist-content-bloc .wishlist-main article:nth-child(3n+1){
        width: 160px;
        height: 160px;
        float: left;
        margin: 0px 10px 20px 0 !important;
    }
    .wishlist-content-bloc .wishlist-main article,
    .wishlist-content-bloc .wishlist-main article:first-child,
    .wishlist-content-bloc .wishlist-main article:nth-child(3n+1){
        margin: 0px 10px 40px 0 !important;
    }
    .postlist article:nth-child(2n+2),
    #category-list article:nth-child(2n+2),
    .wishlist-content-bloc .wishlist-main article:nth-child(2n+2){
        margin-right: 0;
    }
    .postlist article:first-child .row .col-md-7.postcontent header h2{
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        padding: 0;
        margin: 0 50px 10px 10px;
    }
    .page-template-page-wishlist .postlist article:first-child .row .col-md-7.postcontent header h2 {
    	text-transform:none;
    }
    .postlist .row .col-md-7.postcontent header,
    .postlist article:first-child .row .col-md-7.postcontent header{
        padding: 0;
    }
    .postlist .row .col-md-7.postcontent header h2,
    .postlist article:first-child .row .col-md-7.postcontent header h2{
        margin: 0;
    }
    .postlist .row .col-md-7.postcontent-excerpt .entry-content p{

    }
    .postlist article .row .col-md-7.postcontent-excerpt .entry-content {
	  font-size: 13px;
	  line-height: 15px;
	}
	.postlist .row .col-md-7.postcontent header h2, .postlist article:first-child .row .col-md-7.postcontent header h2 {
	  padding: 0 3px;
	}
    #page-bottom-container {
	  width: 510px;
	}
    #page-bottom-container article, #page-bottom-container div.article-slider {
	  display: block;
	  height: 160px;
	  margin: 0 20px 20px 0;
	  overflow: hidden;
	  width: 160px;
	}
    /*
    #page-bottom-container{
        max-width: 330px;
        width: 330px !important;
        margin: 10px auto 0 auto;
    }
    #page-bottom-container article{
        width: 330px;
        height: 200px;
        float: none;
        margin: 0 0 10px 0;
    }
    */

    /* Article single page */
   .virtue_social_widget.mobile {
	  width: 100%;
	}
    .row.single-article {
        background-color: rgba(255, 255, 255, 0.87);
        width: 100%;
        margin: 20px 0 0 0;
        padding: 0;
    }
    .single-article-left, .single-article-right{
        display: none;
    }
    .sub-elmt-text {
        color: #5a3226;
        font-size: 15px;
    }
    .single-article-mobile{
        display: block;
    }
    .single-article-mobile a{
    }
    .single-article h1 {
        color: #603223;
        font-size: 23px;
        text-align: left;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
    }
    .sub-elmt-plan,
    .sub-elmt-pdf{
        position: initial;
        height: 0;
        padding: 20px 0;
        display: block;
        text-align: center;
    }
    .sub-elmt-pdf{
        padding: 15px 0 30px 0;
    }
    .sub-elmt-pdf .sub-elmt-pdf-bg{
        display: block;
        background-color: #fed440;
        width: 100%;
        padding: 5px 0;
    }
    .sub-elmt-pdf .sub-elmt-pdf-bg a{
        display: block;
        font-variant: small-caps;
        width: 100%;
        font-weight: bold;
    }
    .sub-elmt-plan .sub-elmt-plan-img{
        position: relative;
        top: 0;
        left: -20px;
        margin: 0;
        padding: 0;
        z-index: 100;
    }
    .sub-elmt-pdf .sub-elmt-pdf-img{
    }
    .sub-elmt-plan .sub-elmt-plan-bg {
        display: block;
        background-color: #fff;
        width: 100%;
        min-height: 0;
        padding: 5px 0;
        text-align: center;
    }
    .sub-elmt-plan .sub-elmt-plan-bg a{
        font-size: 15px;
        font-weight: bold;
        font-variant: small-caps;
        display: block;
        width: 100%;
    }
    .single-mobile-wishlist{
        width: 100%;
        padding: 10px 0 0 0;
    }
    .single-article-mobile .wpfp-span{
        width: 100%;
    }
    .single-article-mobile .wpfp-span img {
        width: 15px;
    }
    h3.charmey-ecoute {
        font-size: 17px !important;
        line-height: 25px !important;
    }
    /* Footer */
    #containerfooter,
    .footercredits p,
    .footerclass a,
    .footernav ul li a {
      text-align: center;
    }
    .newsletter-input{
        float: none;
        margin: 0 auto;
    }
    .newsletter-submit{
        float: none;
        margin: 10px auto 0 auto;
    }
    .virtue_social_widget{
        margin: 0 auto;
        width: 165px;
    }

    /* File Request Template Content */
    /*body.file-request {
        margin: 0;
        text-align: center;
    }
    body.file-request form, body.file-request .bloc-file-request{
        clear: both;
        float: none;
        width: 80%;
        margin: 0 auto;
    }
    body.file-request form .checkbox-contact .wpcf7-list-item{
        width: 100%;
    }
    body.file-request form .checkbox-contact .wpcf7-list-item input{
        float: left;
        width: 20%;
    }
    body.file-request form .checkbox-contact .wpcf7-list-item-label {
        float: left;
        width: 80%;
        max-width: 80%;
    }
    body.file-request div.bloc-info{
        position: initial;
        padding: 5px 0;
        width: 100%;
    }
    body.file-request div.bloc-info img{
        display: none;
    }
    body.file-request div.bloc-info p{
        margin-bottom: 0;
    }
    .contact-form-notes {
        max-width: 100%;
    }*/

    /* wishlist */
    #content .row-archive.wishlist-content-bloc {
        margin: 30px auto 0;
    }
    #content .wishlist-content-bloc .wishlist-main {
        width: 100%;
        max-width: 100%;
    }
    .wishlist-main .page-header{
        text-align: center;
    }
    .wishlist-main .wishlist-left-content {
        float: none;
        width: 100%;
    }
    .wishlist-main .wishlist-right-content {
        float: none;
        position: initial;
        width: 100%;
        clear: both;
        padding: 30px 30px 0px 30px;
    }
    .wishlist-social-footer {
        background-color: #fed440;
        left: 0;
        padding: 10px 15px;
        position: initial;
        width: 100% !important;
    }
    .wishlist-empty-footer {
    	left: 0;
        padding: 10px 0;
        position: initial;
        width: 100% !important;
        margin-top:15px;
    }
    #content .wishlist-content-bloc .page-header h1 {
        text-align: center;
        padding: 0;
    }
    .wishlist-main .wishlist-left-content {
        margin: 0 auto;
        padding: 0;
    }
    #content .wishlist-content-bloc .wishlist-main article,
    #content .wishlist-content-bloc .wishlist-main article:nth-child(3n+1){
        margin: 0 10px 20px 0;
    }
    .wishlist-item-remove {
        width: 100%;
        padding: 2px;
        top: 160px;
        text-align: center;
    }
    #slider-id .panel .panel-wrapper article:first-child .col-md-7.postcontent-excerpt header h2 {
        margin-top: 10px;
    }
    #slider-id .panel .panel-wrapper article:nth-child(3n+1) {
        /* margin-right: 10px !important;*/
    }
}
@media screen and (min-width: 300px) and (max-width: 480px){

    html body input.wpcf7-submit,
    html body input.wpcf7-form-control.wpcf7-submit
    {
        float: none !important;
        width: 100% !important;
    }
	.coda-slider-wrapper .coda-nav ul li, .tcb-menu-category ul.inline-menu li {
	  border: medium none !important;
	  display: inline-block;
	  margin: 5px !important;
	  padding: 0 !important;
	  text-align: center;
	  width: 100%;
	}
    /* Homepage slider */
    #slider-id {
        height: auto !important;
        width: 300px !important;
    }
    .home-sliding .postlist, .container.home-sliding {
        min-width: 300px;
        max-width: 400px;
        margin: 0 auto;
    }
    .coda-slider-wrapper {
        margin: 20px auto 0 auto;
        width: 280px !important;
    }
    .coda-slider-wrapper .coda-slider {
        min-width: 0;
        max-width: none;
        width: 60%;
    }
    .coda-slider-wrapper .coda-slider .panel {
        width: 300px;
    }
    #slider-id .panel .panel-wrapper article:first-child {
        height: 300px !important;
        margin: 0 !important;
        width: 300px !important;
    }
    .coda-slider-wrapper .coda-nav-left,
    .coda-slider-wrapper .coda-nav-right{
        width: 20px;
    }
    .coda-slider-wrapper .coda-nav-left a,
    .coda-slider-wrapper .coda-nav-right a{
        background-size: cover;
        width: 30px;
        height: 30px;
    }


    .postlist article:first-child,
    #category-list article:first-child,
    .postlist article,
    #category-list article,
    .postlist article:nth-child(3n+1),
    #category-list article:nth-child(3n+1),
    .wishlist-content-bloc .wishlist-main article,
    .wishlist-content-bloc .wishlist-main article:first-child,
    .wishlist-content-bloc .wishlist-main article:nth-child(3n+1){
        width: 145px !important;
        height: 145px !important;
        float: left;
        margin: 0px 10px 20px 0 !important;
    }


    #slider-id .panel .panel-wrapper article {
        height: 145px !important;
    	width: 145px !important;
    	margin-top: 10px !important;
    }

    #slider-id .panel .panel-wrapper article:first-child{
        width: 300px !important;
        height: 300px !important;
        margin-right: 0 !important;
    }
    #slider-id .panel .panel-wrapper article:nth-child(2) {
        margin-right: 10px !important;
    }
    #slider-id .panel .panel-wrapper article:nth-child(3) {
        margin-right: 0 !important;
    }
    #slider-id .panel .panel-wrapper article:nth-child(4) {
        margin-right: 10px !important;
    }
    #slider-id .panel .panel-wrapper article:nth-child(5) {
        margin-right: 0 !important;
    }
    #slider-id .panel .panel-wrapper article:nth-child(6) {
        margin-right: 10px !important;
    }
    #slider-id .panel .panel-wrapper article:nth-child(7) {
        margin-right: 0 !important;
    }
    #slider-id .panel .panel-wrapper article:nth-child(8) {
        margin-right: 10px !important;
    }
    #slider-id .panel .panel-wrapper article:nth-child(9) {
        margin-right: 0 !important;
    }







    .coda-slider-wrapper .coda-nav {
	  height: auto;
	  margin: 20px auto;
	  overflow: hidden;
	}
	.coda-slider-wrapper {
	  margin: 20px auto 0;
	  overflow: hidden;
	  width: 300px !important;
	}
}
@media screen and (min-width: 10px) and (max-width: 370px) /*and (orientation: portrait)*/{

    /* Article */
    #content .wishlist-content-bloc .wishlist-main article,
    #content .wishlist-content-bloc .wishlist-main article:nth-child(3n+1){
        margin: 0;
    }
    #content .wishlist-content-bloc .page-header h1 {
        font-size: 24px;
    }
    .postlist,
    #category-list .bloc-category-article,
    .wishlist-left-content{
        max-width: 320px;
        width: 300px !important;
        margin: 10px auto 0 auto;
    }
    #category-list{
        width: 100% !important;
        margin-bottom: 0;
    }
    .postlist article:first-child,
    #category-list article:first-child,
    .postlist article,
    #category-list article,
    .postlist article:nth-child(3n+1),
    #category-list article:nth-child(3n+1),
    #content .wishlist-content-bloc .wishlist-main article,
    #content .wishlist-content-bloc .wishlist-main article:first-child,
    #content .wishlist-content-bloc .wishlist-main article:nth-child(3n+1){
        width: 145px;
        height: 145px;
        float: left;
        margin: 10px 10px 10px 0 !important;
    }

    .postlist article:first-child, #category-list article:first-child,
    .postlist article, #category-list article,
    .postlist article:nth-child(2n+1),
    #category-list article:nth-child(2n+1),
    #content .wishlist-content-bloc .wishlist-main article,
    #content .wishlist-content-bloc .wishlist-main article:first-child,
    #content .wishlist-content-bloc .wishlist-main article:nth-child(2n+1) {
	  float: left;
	  height: 145px;
	  margin-top: 10px !important;
	  width: 145px;
	  margin-right:0px !important;
	}

	/* Category - the second item is not removed */

	#category-list article:first-child,
    #category-list article,
    #category-list article:nth-child(3n+1){
        float: left;
	  height: 145px;
	  margin-top: 10px !important;
	  width: 145px;
	  margin-right:10px !important;
    }

    #category-list article:first-child,
    #category-list article,
    #category-list article:nth-child(2n+1) {
    	width: 145px;
        height: 145px;
        float: left;
        margin: 10px 10px 10px 0 !important;

	}

	/* / Category */

    .postlist article:nth-child(2n+2),
    #category-list article:nth-child(2n+2),
    #content .wishlist-content-bloc .wishlist-main article:nth-child(2n+2){
        margin-right:10px !important;
    }
    .wishlist-main .wishlist-right-content {
        padding: 0;
    }
    .wishlist-bloc-footer {
        padding: 10px 0 0 0;
    }
    .wishlist-item-remove {
        top: 119px;
    }
    .wishlist-item-remove a{
        display: block;
        width: 100%;
    }
    #page-bottom-container article {
        float: none;
        height: 200px;
        margin: 0 auto 10px auto;
        width: 200px;
    }
    #page-bottom-container article:last-child {
        margin-right: auto !important;
    }
    #page-bottom-container {
        margin: 10px auto 0;
        max-width: 200px;
        width: 200px !important;
    }
    .sub-elmt-pdf .sub-elmt-pdf-bg a {
        font-size: 12px;
        font-variant:all-petite-caps
    }


    /* File Request Template Content */
    body.file-request {
        margin: 0;
        text-align: center;
    }
    body.file-request .bloc-file-request h1, body.file-request .bloc-file-request h2 {
        font-size: 18px;
        line-height: 18px;
    }
    body.file-request .bloc-file-request h2 {
        font-size: 30px;
    }
    body.file-request form h4 {
        color: #5a3226;
        font-size: 14px;
        font-style: italic;
        line-height: 20px;
    }
    body.file-request div.bloc-info p {
        font-size: 12px;
        line-height: 14px;
    }
    body.file-request form, body.file-request .bloc-file-request{
        clear: both;
        float: none;
        width: 80%;
        margin: 0 auto;
    }
    body.file-request form .checkbox-contact .wpcf7-list-item{
        width: 100%;
    }
    body.file-request form .checkbox-contact .wpcf7-list-item input{
        float: left;
        width: 20%;
    }
    body.file-request form .checkbox-contact .wpcf7-list-item-label {
        float: left;
        width: 80%;
        max-width: 80%;
    }
    body.file-request div.bloc-info{
        position: initial;
        padding: 5px 0;
        width: 100%;
    }
    body.file-request div.bloc-info img{
        display: none;
    }
    body.file-request div.bloc-info p{
        margin-bottom: 0;
    }
    .contact-form-notes {
        max-width: 100%;
    }
}
@media only screen and (min-width: 781px)
{
    #containerfooter .container .row .footercol1,
    #containerfooter .container .row .footercol2,
    #containerfooter .container .row .footercol4
    {
        width: 20% !important;
    }
    #containerfooter .container .row .footercol3
    {
        width: 40% !important;
    }
    #containerfooter .container .row .footercol3 aside
    {
        width: 80%;
    }
}
@media only screen and (min-width: 300px) and (max-width: 780px)
{
    #shared-wishlist
    {
        margin: 0 auto;
        padding: 0;
        max-width: 340px;
    }
    /*
    #containerfooter .container .row .footercol1,
    #containerfooter .container .row .footercol2,
    #containerfooter .container .row .footercol3,
    #containerfooter .container .row .footercol4
    {
        width: 50% !important;
        text-align: center !important;
        float:left;
    }*/
    #containerfooter .container .row .footercol2 .virtue_social_widget
    {
        width: 155px !important;
        margin: 0 auto !important;
    }
}
@media only screen and (min-width: 300px) and (max-width: 750px)
{
	.home-sliding .postlist {
	    max-width: 760px !important;
	    padding: 0 !important;
	    width: 100%;
	}
	.container.home-sliding {
	    max-width: 760px !important;
	    width: 100%;
	}
    body.category .postlist article:first-child
    {
        width: 300px !important;
        height: 300px !important;
    }
    body.category #slick-mobile
    {
        width: 100%;
        height: auto !important;
        margin: 0;
    }
    body.category #slick-mobile article
    {
        width: 160px !important;
        height: 160px !important;
        margin: 0 !important;
        margin-bottom: 20px !important;
    }
    body.category #slick-mobile article:nth-child(2n)
    {
        margin-left: 20px !important;
    }
    body.category #slick-mobile article h2
    {
        width: 90px;
        margin-left: 10px;
        margin-bottom: 10px;
        text-shadow: 0px 0px 10px #000;
    }
	#containerfooter .container .row .footercol1,
    #containerfooter .container .row .footercol2,
    #containerfooter .container .row .footercol3,
    #containerfooter .container .row .footercol4
    {
        width: 100% !important;
        text-align: center !important;
        float:none;
    }
}
@media only screen and (min-width: 464px) and (max-width: 750px)
{
	body.category .postlist article:first-child {
	    width: 330px !important;
	    height: 330px !important;
	}
}
.clearBoth
{
    clear: both;
}

@media only screen and (min-device-width: 320px) and (max-device-height: 736px)
{

}
@media only screen and (min-width: 350px) and (max-width: 480px)
{
	#page-bottom-container {
	    margin: 10px auto 0;
	    max-width: 305px;
	    width: 305px !important;
	}
	#page-bottom-container article {
	    height: 305px !important;
	    width: 305px !important;
	    padding-top: 80px;
	    margin-right:0;
	}
	.wu-wrapper.wu-current-conditions.wp_wunderground {
	    max-width: 130px;
	    margin-left: 70px;
	}
}
@media only screen and (min-width: 300px) and (max-width: 350px)
{

    #page-bottom-container {
	    margin: 10px auto 0;
	    max-width: 300px;
	    width: 300px !important;
	}
	#page-bottom-container article {
	    height: 300px !important;
	    width: 300px !important;
	    padding-top: 70px;
	    margin-right:0;
	}
	.wu-wrapper.wu-current-conditions.wp_wunderground {
	    max-width: 130px;
	    margin-left: 70px;
	}
}

/*********************  PAGE NEWSROOM  ***************************/
#content-newsroom-page-mobile
{
    display: none;
}
#content-newsroom-page
{
    display: block;
}
#widget_newsroom
{
    margin-top: 27px !important;
}
#content-newsroom-page
{
    font-size: 15px;
    max-height: 1235px;
    overflow: hidden;
}
#content-newsroom-page .entry-title
{
    margin-top: 40px;
    margin-bottom: 0px;
}
#content-newsroom-page .post-news-preview .entry-title
{
    color: #444;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 20px;
}
#content-newsroom-page .single-article-right
{
    text-align: left !important;
}
#content-newsroom-page .single-article-right {
    width: 36%;
}
#content-newsroom-page hr:last-child
{
    visibility: hidden !important;
}
#content-newsroom-page .all-news-content
{
    margin-top: 15px;
}
#content-newsroom-page .all-news-content hr
{
    border-color: #5a3226 !important;
}
div.page-content,
div.all-news-content
{
    margin-top: 20px;
}
#paginate-news > ul
{
    width: 80%;
    margin: 0 auto;
    list-style: none;
}
#twitter-content
{
    max-height: 300px;
    overflow-y: scroll;
}
#youtube-content
{
    padding-top: 44px;
}
#instagram-content
{
    margin-top: 20px;
    margin-bottom: 25px;
}
#instagram-content img
{
    border: 10px solid #ffffff;
    -moz-box-shadow: 0px 4px 5px #aaa;
    -webkit-box-shadow: 0px 4px 5px #aaa;
    box-shadow: 0px 4px 5px #aaa;
}
#pager-news > ul
{
    padding-left: 0 !important;
}
#pager-news > ul li
{
    width: 25px;
    height: 25px;
    margin-right: 5px;
    padding-top: 2px;
    text-align: center;
    border: 1px solid #5a3226;
    background-color: #5a3226;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
}
#pager-news > ul li:hover,
#pager-news > ul li.actif
{
    cursor: auto;
    color: #fed440;
}
#newsroom-header
{
    position: relative;
}
    #newsroom-header img
    {
        width: 100%;
        max-width: 100%;
    }
    #newsroom-header > .newsroom-content
    {
        left: 0;
        bottom: 0;
        color: #fff;
        width: 100%;
        max-width: 100%;
        font-size: 15px;
        position: absolute;
        padding: 15px 15px;
        background-color: #5a3226;
    }
    #newsroom-header > .newsroom-content strong
    {
        font-size: 18px;
    }
    #newsroom-header > .newsroom-content a
    {
        font-size: 13px;
        margin-top: 13px;
        color: #fff !important;
    }
@media screen and (min-width: 300px) and (max-width: 736px)
{
    #content-newsroom-page
    {
        display: none;
    }
    #content-newsroom-page-mobile > #newsroom-header
    {
        margin-top: 90px;
        margin-bottom: 40px;
    }
    #content-newsroom-page-mobile > .all-news-content .post-news-preview
    {
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #5a3226;
    }
    #content-newsroom-page-mobile > .all-news-content .post-news-preview:last-child
    {
        padding-bottom: 30px;
        border-bottom: none;
    }
    #content-newsroom-page-mobile > .all-news-content
    {
        margin-top: 5px;
    }
    #content-newsroom-page-mobile
    {
        width: 100%;
        display: block;
    }
    #content-newsroom-page-mobile .post-news-preview .entry-title
    {
        color: #444;
        margin-top: 10px;
        margin-bottom: 0px;
        font-size: 20px;
    }
}

p#info_piste,
p#info_installation
{
    color: #fff;
    text-align: center;
    margin-top: 0;
}
p#info_piste span,
p#info_installation span
{
    font-size: 18px;
    font-weight: bold;
}
p#info_installation
{
    padding-top: 15px;
    margin-bottom: 0px;
}

p#info_piste
{
    margin-bottom: 20px;
}
p#info_piste img,
p#info_installation img
{
    max-width: 40px;
}
p#info_piste span,
p#info_installation span
{
    display: inline-block;
}
html body #description-bulletin > a,
html body #description-bulletin > a:hover
{
    color: #fff !important;
}

div#hide_content
{
    visibility: hidden;
    max-width: 0;
    max-height: 0;
}

#news_nav,
#webcam_nav
{
    top: 0;
    display: block;
    position: absolute;
    font-size: 13px;
    text-transform: uppercase;
}
#news_nav
{
    right: 155px;
}
#webcam_nav
{
    right: 80px;
}
a.facebook_follow_me
{
    display: block;
    margin-top: 15px;
}

.bloc-category-article {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    justify-content: flex-end;
}

.bloc-category-article article {
    flex: auto;
    display: block;
    width: 180px;
    max-width: 180px;
    height: 180px;
    position: relative;
    float: none !important;
    margin: 10px 10px !important;
}

.bloc-category-article.winter {
    padding-top: 10px !important;
}

.bloc-category-article article:first-child {
    width: 380px;
    min-width: 380px;
    max-width: 380px;
    height: 380px;
    position: absolute;
    align-self: flex-start;
    top: 60px;
    right: 0;
}

.bloc-category-article article:nth-child(2),
.bloc-category-article article:nth-child(3){
    margin-right: 410px !important;
}

footer .logo-footer {
    width: 100%;
    display: block;
}
    footer .logo-footer .row-logo-footer {
        display: flex;
        width: 20%;
        min-width: 210px;
        max-width: 200px;
        margin: 0 auto;
    }
        footer .logo-footer .row-logo-footer a {
            flex: auto;
            width: 50%;
        }
            footer .logo-footer .row-logo-footer a img{
                width: 100%;
                max-width: 100%;
            }
@media screen and (min-width: 300px) and (max-width: 736px)
{

}

html body .wu-wrapper .wu-alert {
    display: none !important;
}