@page {
    size: 297mm 210mm; /* landscape */
    /* you can also specify margins here: */
    margin: 15mm;
  }
body {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
  margin: 0 auto !important;
  max-width: 900px !important;
}
footer .container {
  max-width: 900px !important;
}