.contentclass, .nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
	background: url('http://charmey.ch/wp/wp-content/themes/charmey/images/winter-charmey.jpg') no-repeat center -400px !important;
}
#top-content-bar-bg, 
#top-content-searchbar, 
nav#primary-navigation, 
nav#primary-navigation ul li, 
.postlist article#detail-cat a#cat-link,
.sub-elmt-pdf .sub-elmt-pdf-bg, 
.wishlist-social-footer, 
body.file-request div.bloc-info, 
#top-content-searchbar .searchfield, 
.kad-btn-primary {
    background: #96c8f0 none repeat scroll 0 0 !important;
} 
.yellow, 
.postlist article#detail-cat a#cat-link:hover, 
#top-content-searchbar .searchsubmit 
{
	color: #96c8f0 !important;
}
#pager-news > ul li:hover,
#pager-news > ul li.actif
{
	color: #96c8f0 !important;
}